/******************************************************Media for width<=1108px***************************************************************/

@media only screen and (max-width: 1108px) {

/***about***/
#about{
padding:20px ;
}

/***projects***/
#projects{
height:100%;
margin:50px 0px;
}
.project-item{
padding:0px 0px 30px 0px;
}
.project-details{
padding:8px;
}
.project-item-desc{
text-align:center;;
}

/***pricing table***/
.pricing-list{
padding:0% 10% ;
}
.pricing-desc{
padding:20px ;
}

/***team**/
.team-content {
padding:50px 5%;
}
.team-member-icons{
left: 21%;
}

/***life-in-zippy**/
#life-in-zippy{
padding:0px 5% 50px 5%;
}
}


/******************************************************Media for width<=768px***************************************************************/

@media only screen and (max-width: 768px) {
   
/****home*****/
.home-content{
width: 500px;
}

/****projects**/
#projects{
margin:100px 0px;
}
.project-item{
padding:0px 0px 80px 0px;
}

/***pricing table***/
.pricing-list{
padding:0% 5% ;
}
.pricing-desc{
padding:10px ;
}

/***team**/
.team-member-icons{
left: 25%;
}
 
/*****************life in zippy***/
#life-in-zippy{
padding:0px 5% 50px 5%;
}
} 

/******************************************************Media for width<=600px***************************************************************/

@media only screen and (max-width: 600px) {
    
/****home*****/
.home-content{
width:400px;
text-align:center;
left:5%;
}
.home-heading{
font-size: 35px;
}

/**about**/
#about{
padding:20px;
}
.starting-content , .about-ending-content{
flex-wrap:wrap; 
text-align:center;
}
.starting-content p{
margin-top:90px ;
padding:30px;
text-align:center;
}
.about-ending-content div{
padding:30px;
}
.icon{
font-size:100px;
position:absolute;
top:98%;
left:220px;
}

/***projects**/
.projects-container{
flex-wrap:wrap;
}
#projects{
margin:120% 0px 0px 0px;
}
.project-item{
padding:0px;
}

/***pricing table***/
.pricing-list{
padding:0% 5% ;
}
.pricing-desc{
padding:5px ;
}
.pricing-button{
font-size:15px !important;
}

/***team**/
.team-content {
padding:30px 0%;
}
.team-member-icons{
left: 35%;
}

/**blog**/
.blog-img-card{
margin:0px ;
}

/**contact**/
#contact{
text-align:center;
}
.image{
display:none;
}
.contact-form input{
border:none;
}
}


/******************************************************Media for width<=400px***************************************************************/
@media only screen and (max-width: 400px) {

/****home*****/
.home-content{
width: 300px;
text-align:center;
left:8%;
}
.home-heading{
font-size: 30px;
}
    
/******ABOUT ZIPPY******/
.starting-content p{
margin:100px 5px 10px 5px;
text-align:center;
width:300px;
}
.icon{
font-size:100px;
position:absolute;
top:108%;
left:120px;
}

/****projectss***/
#projects{
margin:240% 0px 0px 0px;
}

/***pricing table***/
.pricing-list{
padding:0% 5% ;
flex-wrap:wrap;
}
.pricing-desc{
padding:10px 20px ;
}

/***video-projects***/
#video-projects .slider{
width:100vw;
}

/********team*******/
.team-member-icons{
left: 30%;
}

/*******life in zippy***/
#life-in-zippy{
padding:30px 8%;
}

/**newsletter-signup***/
.newsletter-signup input{
width: 100%;
} 
.newsletter-signup-button{
margin: 15px 0px;
}

/**blog**/
.blog-img-card{
margin:0px ;
}

/***footer***/
.row>*{
margin:20px 0px;
}
.fab{
margin:5px;
}
}
