*{
    margin:0;
    padding:0;
}
html{
    overflow-x:hidden;
}

/********************************************************************************Navbar*******************************************************************************/
nav{
    background-color:darkslateblue;
}
.nav-logo{
    font-size:25px;
    font-weight:bold;
    color:white;
}
.nav-item{
    font-size:15px;
    text-transform:uppercase;
    margin:0px 5px;
}
.nav-link{
    color:white !important;
}
.nav-link:hover, .nav-link:active{
    color:yellow !important;
}

/*******************************************************************Home*********************************************************************************************/


.section{
    width:99vw;
    height:95vh;
    background-color:black;
    margin-top:10px;
    overflow-x:hidden;;
}
.heading{
    font-size:40px;
    font-weight:bold;
    letter-spacing:2px;
}

#home{
    width:99vw;
    height:90vh;
    margin-top:10px;
    overflow:hidden;
    background:url(images/newsletter-signup-image.jpg) center center/cover;
}
.home-content{
    width: 500px;
    position: absolute;
    top: 35%;
    left: 10%;
}
.home-heading{
    font-size: 50px;
    font-weight: bold;
}
.btn-1{
    text-transform:uppercase;
    margin-top:20px;
    background-color:yellow !important;
}
.btn-1:hover{
    background-color: purple !important;
    color:white !important;
}
.btn-2{
    text-transform:uppercase;
    margin-top:20px;
    background-color: purple !important;
    color:white !important;
}
.btn-2:hover{
    background-color:yellow !important;
    color:black !important;
}
/******************************ABOUT ZIPPY****************/
#about{
    width:99vw;
    height:95vh;
    padding-top:30px;
    text-align:center;
}
.starting-content{
width:800px;  
display:flex;
margin:auto;
}
.starting-content p{
    margin:30px 60px;
    text-align:left;
}
.icon{
    font-size:100px;
}

.about-ending-content{
    width:800px;
    margin:auto;
    display:flex;
}
.about-ending-content div{
    padding:40px;
}
.about-ending-content div i{
    font-size:55px;
    width:80px;
    height:80px;
    border-radius:50%;
    background-color:purple;
    color:white;
    padding-top:10px;
}
.about-button{
    background-color:yellow !important;
}
.about-button:hover{
    background-color:purple !important;
    color:white !important;  
}

/********************Projects*****************/
#projects{
    width:100vw;
    height:70vh;
    text-align:center;
}
.projects-container{
    display:flex;
}
.project-item{
height:70vh;
width:50vw;
}
.project-item img{
    width:25vw;
    height:40vh;
}
.project-item-heading{
    font-size:20px;
    font-weight:bold;
}
/* .project-details:nth-child(odd){
    background:lightgrey;
    padding:25px;
} */
.project-item .project-details:nth-child(even){
    background:yellow;
    padding:25px;
}
.project-item-desc{
    text-align:left;
    color:grey;
    font-size:15px;
}
.project-button{
    background-color:grey !important;
}
.project-button:hover{
    background-color:purple !important;
    color:white !important;
}
/***************Pricing Table***************/
#pricing{
    width:99vw;
    height:90vh;
    text-align:center;
    padding-top:150px;
}
.pricing-list{
    width:900px;
    margin:auto;
    display:flex;
}
.pricing-item{
        height:70vh;
        width:20vw; 
        margin:30px 30px 10px 30px;  
}
.price{
    color:grey;
}
.pricing-desc{
    padding:10px 30px;
}
.pricing-button{
    background-color:yellow !important;
}
.pricing-button:hover{
    background-color:purple !important;
    color:white !important;
}

/******************************team******************************/
#team{
    width:99vw;
    height:90vh;
    text-align:center;
    padding-top:50px;
}
.team-content{
    width:600px;
    margin:40px auto;
    display:grid;
    grid-template-columns: auto auto auto;
}
.team-member{
    width:200px;
    margin:10px;
}
.team-member img{
    width:150px;
    height:150px;
    border-radius:50%;
    margin-bottom:20px;
    cursor:pointer;
}
.team-member-icons{
    width:150px;
    height:150px;
    background-color: rgba(136, 60, 136,0.4);
    border-radius:50%;
position:relative;
top:-78%;  
left:13%;
padding:20px 0px; 
 margin-bottom:-150px;
display:none;
}
.team-member-icons i{
    font-size:25px;
    padding-top:8px;
    width:40px;
    height:40px;
    border-radius:50%;
    background-color:purple;
    color:white;
   
}
.team-member:hover .team-member-icons{
display:block;
}
.team-member p{
    margin:0px;
    padding:0px;
}
.team-member p:first-of-type{
    font-weight:bold;
}

/******************************life in zippy******************************/
.life-in-zippy{
    width:99vw;
    height:90vh;
    background-color:yellow;
}
/**********************************NewsletterSignup*********************/
.newsletter-signup{
    width:99vw;
    height:50vh;
    margin-bottom:20px;
    background:url(images/newsletter-signup-image.jpg) center center/cover;
    display:flex;
    text-align:center;
     align-items:center;
}

.newsletter-signup-content{
    margin-top:20px;
}
.newsletter-signup input{
    width: 35%;
    margin-top: 10px !important;
    padding: 10px 10px;
    color: grey;
    font-size: 20px;
    display: inline-block;
} 


.newsletter-signup-button{
    background-color: yellow;
    border: none;
    margin: -5px;
    padding: 11px 30px;
    color: black;
    font-size: 20px;
    font-weight:bold;
}
.newsletter-signup-button:hover{
    background-color: purple;
    color:white;
}


/*****************************************************BLOG********************************************************************************/

#blog{
    width:99vw;
    height:90vh;
    text-align:center;
}

/****image cards***/

.blog-img-container{
    display:flex;
    justify-content:center;
    align-items:center;
}
.blog-img-card{
    background-color:white;
    text-align:center;
    width:240px;
    height:400px;
    margin:25px;
}
.blog-button{
   background-color:grey !important;
   color:black !important;
   border:none !important;
}

.blog-button:hover{
    background-color:yellow !important;
}
.blog-image-card-heading ,.blog-image-card-date, .blog-image-card-desc{
    margin-left:20px;
    }
.blog-image-card-heading{
    font-size:20px;
        font-weight:bold;
        margin-top:10px;
    }
.blog-image-card-date{
        color:grey;
        margin-top:20px;
        margin-bottom:20px
    }


/********************************************************CONTACT**************************************************************************/
#contact{
    width:99vw;
    height:70vh;
    background-color:yellow;
}
.image, .contact-form{
    height:70vh;
}

/***contact-form***/
.contact-form{
    padding:30px 5px;
}
.heading{
    font-size:40px;
    font-weight:bold;
}
input{
    width:95%;
    height:10%;
    margin-top:10px !important;
    padding:0px 10px;
    color:grey;
    font-size:16px;
}
.contact-button{
    background-color:black;
    border:none;
    margin:10px;
    padding:10px;
    color:white;
    font-size:17px;
}
.contact-button:hover{
    background-color:purple;
}


/*********************************************************************FOOTER****************************************************************************************/
.footer{
    margin-top:50px;
}
.col{
  margin:30px;
  text-align:center;
}

.footer-heading{
    font-size:20px;
    font-weight:bold;
    margin-bottom:20px;
}
/*******column 1****/
.footer-content{
    padding:5px;
}
/*****column 2******/
.footer-icon{
    font-size:25px;
    margin:10px;
}
/******column 3*****/
.footer-contact{
    margin:0rem;
    padding:0rem;
}